<div class="box" id="add-box">
    <div class="box-body">
        <div class="box-header add_class_msg text-red"></div>
        <form name="add_subject" id="add_subject">
            <div class="form-group has-feedback">
                <label>Subject Name</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="Subject Name">
                <span class="fa fa-terminal form-control-feedback"></span>
                <div class="error" id="error"></div>
                <div id="success"></div>
            </div>
            <div class="form-group has-feedback">
                <button class="btn btn-success" id="register" name="add_subject">Add Subject</button>
            </div>
        </form>
    </div>
</div>

<div class="box" id="update-box" style="display: none;">
    <div class="box-body">
        <div class="box-header add_class_msg text-red"></div>

        <div class="form-group has-feedback">
            <label>Subject Name</label>
            <input type="text" name="update_title" id="title-value" value="" class="form-control"
                placeholder="Subject Name">
            <span class="fa fa-terminal form-control-feedback"></span>
            <div class="error" id="error"></div>
            <div id="success"></div>
        </div>
        <div class="form-group has-feedback">
            <button class="btn btn-success" id="save-update" name="update_subject">Update Subject</button>
        </div>

    </div>
</div>
<script>
$('#subject-status').on('click', function() {
    // Get the current text of the subject-status link
    var currentText = $('#subject-status').text();

    // Check if the current text is "Update Subject"
    if (currentText === 'Update Subject') {
        // Change it back to "Add Subject"
        $('#subject-status').text('Add Subject');
        $('#update-box').hide();
        $('#add-box').show();
    } else if (currentText === 'Add Subject') {
        // No Change to "Update Subject"
        
    }
});
// Hover function to change text when hovering over the subject-status link
$('#subject-status').hover(
        function() {
            // Mouse enter
            if ($(this).text() === 'Update Subject') {
                $(this).attr('title', 'Click to change to Add Subject'); // Set tooltip text
            }
            else{
                    $(this).attr('title', ''); // Set tooltip text 
                }
        },
        function() {
            // Mouse leave
            if ($(this).text() === 'Update Subject') {
                $(this).attr('title', ''); // Clear tooltip text
            }
        }
    );
</script>

<script type="text/javascript">
    const add_subject_form = document.getElementById("add_subject")
    const error = document.getElementById("error")
    const success = document.getElementById("success")

    add_subject_form.addEventListener("submit", async (e) => {
        e.preventDefault()
        error.innerText = ''
        success.innerText = ''
        var data = new FormData(add_subject_form);
        const title = add_subject_form.title.value;

        if (title == '') {
            error.innerText = "Title is required"
        }
        else {
            $('#register').prop('disabled', true);
            error.innerText = ''
            success.innerText = ''
            var formDataObj = {};
            for (var [key, value] of data) {
                formDataObj[key] = value;
            }


            const response = await fetch("/api/subject/register", {
                method: "POST",
                body: JSON.stringify({ title }),
                headers: { "Content-Type": "application/json" }
            })
            const response_data = await response.json();
            if (response_data.error) {
                add_subject_form.reset()
                error.innerText = response_data.error
                $('#register').prop('disabled', false);
            }
            else {
                add_subject_form.reset()
                $('#register').prop('disabled', false);
                success.innerText = `Subject ${title} added`
                setTimeout(function () {
                    location.reload(); // Reload the page to see the updated data
                }, 3000);
            }
        }


    })

</script>