<div class="box" id="add-assign-subject-teacher-box">
    <!-- Visit "codeastro.com" for more projects! -->
    <form name="assign_subject_teacher" id="assign_subject_teacher" method="post" accept-charset="utf-8">
        <div class="box-body ">
            <div class="box-header add_class_msg text-red"></div>
            <div class="form-group">
                <div class="input-control">
                    <label>Select Teacher</label>
                    <select id="teacher_id" name="teacher_id" class="form-select" style="width: 100%;">
                        <option value="select">Select Teacher</option>
                    </select>
                    <div class="error"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-control">
                    <label>Select Subject</label>
                    <select required="" id="subject_id" name="subject_id" class="form-select" style="width: 100%;">
                        <option value="select">Select Subject</option>
                    </select>
                    <div class="error"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="input-control">
                    <label>Select Grade</label>
                    <select id="select_grade" name="select_grade" class="form-select" style="width: 100%;">
                        <option value="select">Select Grade</option>
                    </select>
                    <div class="error"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-control">
                    <label>Select Section</label>
                    <select id="letter_grade_id" name="letter_grade_id" class="form-select" style="width: 100%;">
                        <option value="select">Select Section</option>
                    </select>
                    <div class="error"></div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <button class="btn btn-success">Assign Teacher</button>
            </div>
        </div>
    </form>
</div>
<div class="box" id="update-assign-subject-teacher-box" style="display: none;">
    <!-- Visit "codeastro.com" for more projects! -->
    <div class="box-body ">
        <div class="box-header add_class_msg text-red"></div>
        <div class="form-group">
            <div class="input-control">
                <label>Select Teacher</label>
                <select id="uteacher_id" name="teacher_id" class="form-select" style="width: 100%;">
                    <option value="select">Select Teacher</option>
                </select>
                <div class="error"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-control">
                <label>Select Subject</label>
                <select required="" id="usubject_id" name="subject_id" class="form-select" style="width: 100%;">
                    <option value="select">Select Subject</option>
                </select>
                <div class="error"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-control">
                <label>Select Grade</label>
                <select id="uselect_grade" name="select_grade" class="form-select" style="width: 100%;">
                    <option value="select">Select Grade</option>
                </select>
                <div class="error"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-control">
                <label>Select Section</label>
                <select id="uletter_grade_id" name="letter_grade_id" class="form-select" style="width: 100%;">
                    <option value="select">Select Section</option>
                </select>
                <div class="error"></div>
            </div>
        </div>


        <div class="form-group has-feedback">
            <button class="btn btn-success" id="update-subject-teacher-save">Update Teacher</button>
        </div>
    </div>

</div>

<script src="js/subject/assign_subject_teacher.js"></script>
<script>
    $('#subject-teacher-status').on('click', function() {
        // Get the current text of the subject-status link
        var currentText = $('#subject-teacher-status').text();
    
        // Check if the current text is "Update Subject"
        if (currentText === 'Update Assign Teacher') {
            // Change it back to "Add Subject"
            $('#subject-teacher-status').text('Assign Teacher');
            $('#update-assign-subject-teacher-box').hide();
            $('#add-assign-subject-teacher-box').show();
        } 
    });
    // Hover function to change text when hovering over the subject-status link
    $('#subject-teacher-status').hover(
            function() {
                // Mouse enter
                if ($(this).text() === 'Update Assign Teacher') {
                    $(this).attr('title', 'Click to change to Assign Teacher'); // Set tooltip text
                }
                else{
                    $(this).attr('title', ''); // Set tooltip text 
                }
            },
            function() {
                // Mouse leave
                if ($(this).text() === 'Update Assign Teacher') {
                    $(this).attr('title', ''); // Clear tooltip text
                }
            }
        );
    </script>