<!-- Visit "codeastro.com" for more projects! -->
<div class="box " id="add-class-box">
    <div class="box-header bg-success text-white py-1">
        <h4 >Add Class</h4>

    </div>
    <div class="box-body">
        <div class="box-header add_class_msg text-red"></div>
        <form name="add_class" id="add_class" accept-charset="utf-8">
            <div class="form-group has-feedback">
                <label>Class In Numeric</label>
                <input type="text" name="grade" class="form-control" placeholder="Class Numeric">
                <span class="fa fa-terminal form-control-feedback"></span>
                <div id="class_number"></div>
            </div>
            <div class="form-group has-feedback">
                <label>Total Class Section</label>
                <input type="number" name="total_lt_grade" class="form-control" placeholder="total grade section">
                <span class="fa fa-terminal form-control-feedback"></span>
                <div id="class_name"></div>
            </div>

            <div class="row">
                <div id="error" style="color: red;"></div>
                <div id="success" style="border: 1 solid green;"></div>
            </div>

            <div class="form-group has-feedback">
                <button class="btn btn-success" id="register" name="add_class">Add Class </button>
            </div>



        </form>
    </div>
</div>
<!-- Visit "codeastro.com" for more projects! -->
<div class="box" id="update-class-box" style="display: none;">
    <div class="box-header bg-success text-white py-1">
        <h4 id="change-text">Update Class</h4>

    </div>
    <div class="box-body">
        <div class="box-header add_class_msg text-red"></div>
            <div class="form-group has-feedback">
                <label>Class In Numeric</label>
                <input type="text" name="grade" id="grade" class="form-control" placeholder="Class Numeric">
                <span class="fa fa-terminal form-control-feedback"></span>
                <div id="class_number"></div>
            </div>
            <div class="form-group has-feedback">
                <label>Total Class Section</label>
                <input type="number" name="total_lt_grade"id="total_lt_grade" class="form-control" placeholder="total grade section">
                <span class="fa fa-terminal form-control-feedback"></span>
                <div id="class_name"></div>
            </div>

            <div class="row">
                <div id="error" style="color: red;"></div>
                <div id="success" style="border: 1 solid green; color: green;"></div>
            </div>

            <div class="form-group has-feedback">
                <button class="btn btn-success" id="register" name="add_class">Update Class </button>
            </div>
    </div>
</div>
<script>
    const add_class_form = document.getElementById("add_class")
    const error = document.getElementById("error")
    const success = document.getElementById("success")

    add_class_form.addEventListener("submit", async (e) => {
        e.preventDefault()
        error.innerText = ''
        success.innerText = ''
        var data = new FormData(add_class_form);
        const grade = add_class_form.grade.value;
        const total_lt_grade = add_class_form.total_lt_grade.value
        if (grade == '' || total_lt_grade == '') {
            error.innerText = "All fields are required"
        }
        else {
            $('#register').prop('disabled', true);
            error.innerText = ''
            success.innerText = ''
            var formDataObj = {};
            for (var [key, value] of data) {
                formDataObj[key] = value;
            }
            console.log(formDataObj)

            const response = await fetch("/api/grade/register", {
                method: "POST",
                body: JSON.stringify({ grade, total_lt_grade }),
                headers: { "Content-Type": "application/json" }
            })
            const response_data = await response.json();
            if (response_data.error) {
                error.innerText = response_data.error
                $('#register').prop('disabled', false);
            }
            else {
                add_class_form.reset()
                $('#register').prop('disabled', false);
                success.innerText = "Class added successfully"
                //innerText.color
                setTimeout(function () {
                    location.reload(); // Reload the page to see the updated data
                }, 1000);
            }
        }


    })
</script>